PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority
DB_NAME=railway_db
NODE_ENV=development
JWT_SECRET=<your_jwt_secret>
MAPTILER_API_KEY=<your_maptiler_key>
GROQ_API_KEY=<your_groq_api_key>
GROQ_MODEL=llama-3.3-70b-versatile
